/* Estilos gerais */
body {
    background-color: #0a192f;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: inherit;
    gap: 10px;
    padding: 1em;
    background-color: #0a192f;
    border-radius: 20px;
    width: 90%;
    max-width: 300px; /* Limite máximo para o formulário */
    box-sizing: border-box;
  }
  
  .form-heading,
  .title {
    text-align: center;
    margin: 1.5em 0;
    color: #64ffda;
    font-size: 1.2em;
    background-color: transparent;
  }
  
  .form-field {
    display: flex;
    align-items: center;
    gap: 0.5em;
    border-radius: 10px;
    padding: 0.6em;
    border: none;
    outline: none;
    color: white;
    background-color: #171717;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
    width: 100%;
  }
  
  .input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #ccd6f6;
    padding: 0.6em;
    box-sizing: border-box;
  }
  
  .sendMessage-btn {
    cursor: pointer;
    margin-bottom: 1.5em;
    padding: 1em;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    color: #64ffda;
    font-weight: bold;
    outline: 1px solid #64ffda;
    transition: all 0.3s ease-in-out;
  }
  
  .sendMessage-btn:hover {
    background-color: #64ffda;
    color: #000;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  }
  
  .logo {
    display: flex;
    justify-content: center;
    margin-top: 1.5em;
  }
  
  .logo img {
    max-width: 100%;
    width: 150px;
  }
  
  /* Media queries para responsividade */
  @media (min-width: 768px) {
    .form {
      max-width: 600px;
      padding: 2em;
    }
  
    .form-heading,
    .title {
      font-size: 1.5em;
    }
  }
  
  @media (min-width: 1024px) {
    .form {
      max-width: 800px;
    }
  
    .form-heading,
    .title {
      font-size: 1.8em;
    }
  
    .logo img {
      width: 200px;
    }
  }

  .toast {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

.toast-success {
    background-color: #4CAF50;
}

.toast-error {
    background-color: #f44336;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.toast {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  color: white;
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

.toast-success {
  background-color: #4CAF50;
}

.toast-error {
  background-color: #f44336;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

  